---
import PageLayout from "../layouts/PageLayout.astro";
import { aboutContent } from "../config/content.ts";
import ObservatorySideBar from "../components/ObservatorySideBar.astro";
---

<PageLayout title={aboutContent.meta.title} description={aboutContent.meta.description}>

  <!-- Sidebar -->
  <div slot="sidebar">
    <ObservatorySideBar />
  </div>


  <!-- Main content -->
  <div class="relative z-20 w-full">
    <h2 class="text-5xl font-bold tracking-tight text-starlight-100 sm:text-6xl">
      {aboutContent.title}
    </h2>
    <div class="flex flex-col md:flex-row gap-8 mt-6">
      <div class="w-full md:w-1/2 flex flex-col">
        <p class="text-lg leading-8 text-starlight-400">
          My observatory is named after my late father, and while I did not get into astronomy until after he passed away, I'm sure he would have enjoyed the wonders that the universe has to offer. So, my efforts in astro-photography are dedicated to him, mind you, he has a prime viewing spot from his hill in Yorkshire......
        </p>
      </div>
      <div class="w-full md:w-1/2 flex justify-end">
        <div class="relative w-[360px] h-[360px]">
          <img
            src={aboutContent.image.src}
            alt={aboutContent.image.alt}
            class="object-cover rounded-xl w-full h-full"
          />
        </div>
      </div>
    </div>
  </div>

  <script>
    import GLightbox from 'glightbox';
    import 'glightbox/dist/css/glightbox.css';
    
    const lightbox = GLightbox({
      touchNavigation: true,
      loop: true,
      autoplayVideos: false,
    });
  </script>

</PageLayout>