---
import PageLayout from "../layouts/PageLayout.astro";
import { aboutContent } from "../config/content.ts";
import ObservatorySideBar from "../components/ObservatorySideBar.astro";
---

<PageLayout title={aboutContent.meta.title} description={aboutContent.meta.description}>

  <!-- Sidebar -->
  <div slot="sidebar">
    <ObservatorySideBar />
  </div>


  <!-- Main content -->
  <div class="relative z-20 w-full">
    <h2 class="text-5xl font-bold tracking-tight text-starlight-100 sm:text-6xl">
      {aboutContent.title}
    </h2>
    <div class="flex flex-col md:flex-row gap-8 mt-6">
      <div class="w-full md:w-1/2 flex flex-col">
        <p class="text-lg leading-8 text-starlight-400">
          My observatory is named after my late father, and while I did not get into astronomy until after he passed away, I'm sure he would have enjoyed the wonders that the universe has to offer. So, my efforts in astro-photography are dedicated to him, mind you, he has a prime viewing spot from his hill in Yorkshire......
        </p>
      </div>
      <div class="w-full md:w-1/2 flex justify-end">
        <div class="relative w-[360px] h-[360px]">
          <img
            src={aboutContent.image.src}
            alt={aboutContent.image.alt}
            class="object-cover rounded-xl w-full h-full"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row mt-20 gap-8">
    <div class="flex-1">
      <h2 class="mb-2 text-2xl font-bold text-starlight-200">
        {aboutContent.experience.title}
      </h2>
      <div class="py-10">
        {
          aboutContent.experience.items.map((item) => (
            <div class="pb-10 border-l border-space-700 last:border-l-0">
              <div class="relative flex flex-col justify-start pl-12">
                <div class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-space-950 border rounded-full w-14 h-14 border-space-700">
                  <svg
                    class="w-8 h-8 text-nebula-500"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                    />
                  </svg>
                </div>
                <p class="text-xs uppercase text-starlight-400 tracking-widest">
                  {item.type}
                </p>
                <h3 class="my-1 text-lg font-bold text-starlight-100">
                  {item.make}
                </h3>
                <p class="my-1 text-lg font-bold text-starlight-100">
                  {item.aperture}, {item.fratio}
                </p>
                <p class="text-sm font-light text-starlight-400">
                  {item.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="flex-1">
      <h2 class="mb-2 text-2xl font-bold text-starlight-200">
        {aboutContent.software.title}
      </h2>
      <div class="py-10">
      {
        aboutContent.software.items.map((item) => (
        <div class="pb-10 border-l border-space-700 last:border-l-0">
          <div class="relative flex flex-col justify-start pl-12">
            <div class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-space-950 border rounded-full w-14 h-14 border-space-700">
              <svg
                class="w-8 h-8 text-nebula-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                />
              </svg>
            </div>
            <p class="text-xs uppercase text-starlight-400 tracking-widest">
              {item.description}
            </p>
            <h3 class="my-1 text-lg font-bold text-starlight-100">
              {item.name}
            </h3>
            <p class="text-sm font-light text-starlight-400">
              {item.author}
            </p>
          </div>
            
        </div>
        ))
      }

      <h2 class="mb-2 text-2xl font-bold text-starlight-200">
        {aboutContent.camera.title}
      </h2>
      {
        aboutContent.camera.items.map((item) => (
        <div class="pb-10 border-l border-space-700 last:border-l-0">
          <div class="relative flex flex-col justify-start pl-12">
            <div class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-space-950 border rounded-full w-14 h-14 border-space-700">
              <svg
                class="w-8 h-8 text-nebula-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                />
              </svg>
            </div>
            <p class="text-xs uppercase text-starlight-400 tracking-widest">
              {item.description}
            </p>
            <h3 class="my-1 text-lg font-bold text-starlight-100">
              {item.model}
            </h3>
            <p class="text-sm font-light text-starlight-400">
              {item.make}
            </p>
          </div>
        </div>
        ))
      }
      </div>
    </div>
  </div>

  <script>
    import GLightbox from 'glightbox';
    import 'glightbox/dist/css/glightbox.css';
    
    const lightbox = GLightbox({
      touchNavigation: true,
      loop: true,
      autoplayVideos: false,
    });
  </script>

</PageLayout>